$blue: #B5FEEF;

body {
    background-color: rgba(0, 0, 0, 0.95);
}

.container {
    max-width: 1440px;
    margin: 0px auto;
}

.header {
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 2.5px solid $blue;
    overflow: hidden;
}

.btn {
    padding: 17px 34px;
    background: #2EECC51A;
    opacity: 0.80;
    border-radius: 50px;
    border: 1px solid $blue;
    color: white;
}

.header__nav {
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    font-family: Ruberoid;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.31em;
    text-align: left;
    color: white;
    text-transform: uppercase;
    span {
        font-family: Ruberoid;
        font-size: 40px;
        font-weight: 400;
        line-height: 56px;
        letter-spacing: -0.115em;
        text-align: left;            
        text-transform: uppercase;
    }        
}

.menu {
    display: flex;
    align-items: center;
    .menu__item {
        margin-right: 25px;
        .item__link {
            font-family: Ruberoid;
            font-size: 20px;
            font-weight: 400;
            line-height: 27px;
            letter-spacing: 0em;
            text-align: left;            
            color: white;
        }
    }
}

.section__title {
    span {
        font-family: Ruberoid;
        font-size: 65px;
        font-weight: 400;
        line-height: 90px;
        letter-spacing: 0em;
        text-align: left;    
    }
    font-family: Ruberoid;
    font-size: 45px;
    font-weight: 400;
    line-height: 62px;
    letter-spacing: 0em;
    text-align: left;
    color: $blue;    
    text-shadow:
      0 0 1px $blue,
      0 0 1px $blue,
      0 0 1px $blue,
      0 0 1px $blue,
      0 0 1px $blue,
      0 0 1px $blue,
      0 0 1px $blue,
      0 0 1px $blue;
}

p.section__descr {
    margin-bottom: 23px;
    color: #FFFFFFA6;
}

.header__text {
    .section__title {
        margin-top: 250px;
        margin-bottom: 50px;
    }
    .section__descr {
        margin-bottom: 40px;
    }
}

.btns {
    .btn__link {
        margin-right: 25px;
        color: #FFFFFF66;
    }
    margin-bottom: 300px;
}

.btn__link {
    color: white;
}

.header__inner {
    position: relative;
    .picture {
        position: absolute;
    }
    .pic-1 {
        z-index: 1;
        top: 30%;
        left: 50%;
    }
    .pic-2 {
        top: 30%;
        left: 55%;
        transform: scale(1.2);
    }
}


.reasons__inner {
    padding-top: 100px;
    .reasons__container {  display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 35px 35px;
        grid-auto-flow: row;
        grid-template-areas:
          "reasons__title reasons__title reasons__item1"
          "reasons__item2 reasons__item3 reasons__item4";
      }
      
      .reasons__title { grid-area: reasons__title; }
      
      .reasons__item2 { grid-area: reasons__item2; }
      
      .reasons__item3 { grid-area: reasons__item3; }
      
      .reasons__item4 { grid-area: reasons__item4; }
      
      .reasons__item1 { grid-area: reasons__item1; }      
}

.reasons {
    background-image: url(/images/bg3.png);
    background-position: center;
    padding-bottom: 150px;
}

.reasons__inner {
    .reasons__title {
        .section__title {
            margin-bottom: 20px;
        }
        .btn {
            border-radius: 0;
            background: black;
            .btn__link {
                color: white;
            }
        }
    }
    .reasons__item {
        position: relative;
        background: rgb(68, 67, 67);
        padding: 45px 42px;
        border-radius: 17px;
        .item__title {
            font-family: Ruberoid;
            font-size: 26px;
            font-weight: 400;
            line-height: 32px;
            letter-spacing: 0em;
            text-align: left;
            color: white;
            margin-bottom: 20px;
        }
        .item__descr {
            font-family: Ruberoid;
            font-size: 17px;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0em;
            text-align: left;
            color: white;
            margin-bottom: 170px;            
        }
        .item__picture {
            position: absolute;
            top: 54.5%;
            left: 52%;
            z-index: 1;
        }
    }
    .reasons__item1 {
        background: #23567a;
    }
}

.parfolio {
    background-image: url(/images/bg3.png);
    background-position: center;
    .section__title {
        margin-top: 50px;
        margin-bottom: 30px;
    }
    .section__descr {
        margin-bottom: 30px;
    }
}

.partfolio__inner   {
    padding-top: 250px;
    padding-bottom: 300px;
    display: flex;
    justify-content: space-between;

    


    .container_slider_css{margin:50px auto;width:800px;height:400px;overflow:hidden;position:relative}
.photo_slider_css{position:absolute;animation:round 16s infinite;opacity:0;width:100%}
@keyframes round {
25%{opacity:1}
40%{opacity:0}
}
img:nth-child(1){animation-delay:12s}
img:nth-child(2){animation-delay:8s}
img:nth-child(3){animation-delay:4s}
img:nth-child(4){animation-delay:0}
@media(min-width:0px) and (max-width:320px) {
.container_slider_css{width:80%;height:190px}
}
@media(min-width:321px) and (max-width:480px) {
.container_slider_css{width:80%;height:190px}
}
}

.rate__inner {
    margin-bottom: 200px;
    .section__title {
        text-align: center;
        margin-bottom: 40px;
    }
    .rate-container {
        display: grid;
        grid-template-columns: auto auto auto;
        .item {
            background: rgba(141, 141, 141, 0.2);
            position: relative;
            max-width: 370px;
            border-radius: 25px;
            .item__title {
                font-family: Ruberoid;
                font-size: 32px;
                font-weight: 400;
                line-height: 44px;
                letter-spacing: 0em;
                text-align: center;
                color: white;         
                margin-top: 44px;
                margin-bottom: 46px;       
            }
            .item__descr {
                max-width: 300px;
                margin: 0px auto;
                font-family: Ruberoid;
                font-size: 17px;
                font-weight: 400;
                line-height: 26px;
                letter-spacing: 0em;
                text-align: center;
                color: white;
                margin-bottom: 70px;                
            }
            .interaction {
                .info {
                    font-size: 22px;
                    color: white;
                    span {
                        font-size: 13px;
                        color: #FFFFFF4D;
                    }
                    display: flex;
                    flex-direction: column;
                }
                width: 350px;
                position: absolute;
                display: flex;
                justify-content: space-between;
                align-items: center;            
                bottom: 0;
                left: 50%;   
                transform: translate(-50%, -20%)
            }
        }
    }
}



.application__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    .section__title {
        margin-bottom: 20px;
    }
}

.footer {
    padding-top: 35px;
    padding-bottom: 70px;
    background: $blue;
    .footer__title {
        font-family: Ruberoid;
        font-size: 96px;
        font-weight: 400;
        line-height: 132px;
        letter-spacing: 0.02em;
        text-align: left;
        color: black;
        text-align: center;        
    }
    .pic {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        gap: 40px;
        .pic__link {
            img {
                max-width: 100px;
                max-height: 100px;
            }
        }
    }
}